body {
  padding-top: 56px;
  font-size: 1.1rem;
  background: #ECE9E6;
  background: -webkit-linear-gradient(#FFFFFF, #ECE9E6);
  background: -o-linear-gradient(#FFFFFF, #ECE9E6);
  background: linear-gradient(#FFFFFF, #DDEFBB);
}

#home {
  position: absolute;
  top:0;
}

header {
  padding: 30px 0;
  background-color: #212529;
  color: white;
}

header > img {
  height: 200px;
  margin-bottom: 10px;
}

main > article {
  margin: 50px 0px;
}

#about img {
  height: 140px;
}

#about button {
  border-width: 3px;
  font-weight: 500;
  font-size: 1.2rem;
}

#skills > article {
  margin: 40px 0px;
}

#skills .row {
  margin-top: 30px;
}

#skills figure {
  margin: 10px 30px;
}

#skills img {
  height: 120px;
}

#skills figcaption {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media (max-width: 575px) {
  #skills figure {
    margin: 10px 10px;
  }
  .img-wide {
    height: auto !important;
    width: 80%;
  }
}

/* @media (min-width: 576px) and (max-width: 767px) {
  #skills img {
    height: 120px;
  }
} */

/*
@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
} */

#contact a {
  color: #212529;
}

#contact li {
  margin: 5px 10px;
}

footer {
  padding: 10px 0;
  background-color: #212529;
}

footer a {
  color: #ffffff;
}

footer p {
  margin: 5px 0px;
}

.nav-anchor{
  margin-top: -80px;
  padding-top: 80px;
}
