.page {
  padding-top: 56px;
  font-size: 1rem;
  background: #ece9e6;
  background: -webkit-linear-gradient(#ffffff, #ece9e6);
  background: -o-linear-gradient(#ffffff, #ece9e6);
  background: linear-gradient(#ffffff, #ddefbb);
}
.modal__text {
  margin: 10px 0px;
}

.modal__badges {
  padding: 5px 0px;
}

.home {
  position: absolute;
  top: 0;
}

.header {
  padding: 30px 0;
  background-color: #212529;
  color: white;
}

.header__img {
  height: 150px;
  margin-bottom: 10px;
}

.header__typed {
  font-size: 1rem;
}

.main__article {
  margin: 50px 0px;
}

.nav-anchor {
  margin-top: -80px;
  padding-top: 80px;
}

.about__img {
  height: 100px;
  margin-bottom: 10px;
}

.btn--download {
  margin: 8px 0;
  border-width: 3px;
  font-weight: 500;
  font-size: 1rem;
}

.experience__img {
  height: 120px;
  margin-bottom: 10px;
}

.experience__img--wide {
  height: auto;
  width: 200px;
  margin-bottom: 10px;
}

.experience__ol {
  list-style: initial;
}

.experience__p {
  margin-bottom: 0.2rem;
}

.experience__li {
  margin-left: 12px;
}

.skills__article {
  margin: 40px 0px;
}

.skills-article__row {
  margin-top: 30px;
}

.skills-article__figure {
  margin: 10px 30px;
}

.skills-article__img {
  height: 75px;
}

.skills-article__img--wide {
  height: 75px;
}

.skills-article__figcaption {
  margin-top: 10px;
  font-size: 1rem;
}

.projects__article {
  margin: 30px 0px;
}

.projects-article__learn-more {
  margin: 10px 0px;
}

.projects-article__btn {
  margin: 0px 10px;
}

.projects__text {
  font-size: 1rem;
}

.contact__anchor {
  color: #212529;
}

.contact__list-item {
  margin: 5px 10px;
}

.waseda-syllabus-scraper__img {
  height: 150px;
}

.sentiment-analysis__img {
  height: 100px;
}

.lisa__row {
  margin: 0px -15px;
}

.lisa__img {
  display: block;
  width: 50vw;
  margin: auto;
}

.footer {
  padding: 10px 0;
  background-color: #212529;
}

.footer__anchor {
  color: #ffffff;
}

.footer__text {
  margin: 5px 0px;
}

@media (max-width: 575px) {
  .skills-article__figure {
    margin: 10px 10px;
  }
  .skills-article__img--wide {
    height: auto !important;
    width: 40%;
  }
  .waseda-syllabus-scraper__img {
    height: 100px;
  }
  .sentiment-analysis__img {
    height: 75px;
  }
  .lisa__img {
    width: 250px;
  }
}
